<%- include('../templates-dashboard/header'); %>
<%- include('../templates-dashboard/styles'); %>
<%- include('../templates-dashboard/endheader'); %>
<%- include('../templates-dashboard/leftbar-tab-menu'); %>
<%- include('../templates-dashboard/top-bar'); %>         


        <div class="page-wrapper">
            <div class="page-wrapper">
                <div class="page-content-tab">
    
                    <div class="container-fluid">
                        <!-- Page-Title -->
                        <div class="row">
                            Settings
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page-wrapper -->

<%- include('../templates-dashboard/scripts'); %>     

<%- include('../templates-dashboard/footer'); %>  